<% provide(:title, 'New Post') %>
<h1>New Post</h1>
<p>Fill in the boxes</p>

<%= render 'error_messages' %>

    <%= form_for(@post) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>
      <br> <br>
      <%= f.label :content %>
      <%= f.text_area :content, cols: "60", rows: "5" %>
      <br> <br>
      <%= f.label :author %>
      <%= f.text_field :author  %>
      <br> <br>
      <%= f.submit "Post article" %>
    <% end %>
