<% provide(:title, 'New Post') %>
<h1>New Post</h1>
<p>Fill in the boxes</p>

<%= render 'error_messages' %>

    <%= form_for @post , url: posts_path, html: { multipart: true } do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :content %>
      <%= f.text_field :content  %>

      <%= f.label :author %>
      <%= f.text_field :author  %>

      <%= f.label :image %>
      <%= f.file_field :image %>

      <%= f.submit "Post article" %>
    <% end %>
