<% provide(:title, 'Show All') %>
<% @post.each do |post| %>
<table>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td> <%= post.author%></td>
    <%= link_to 'Edit ',edit_post_path(post) %>

    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>

  </tr>
</table>
<% end %>
