<h1>Posts#show</h1>
<p>Title</p>
  <%= @post.title %>
  <p>Content</p>
<%= @post.content %>
<p>author</p>
<%= @post.author %>
<p> Image</p>
<%= image_tag @post.image.url %>

<%= link_to 'Edit', edit_post_path %>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
