<h1><%= @post.title %></h1>
<p>
  <br>
  <%= @post.content %>
  <br> <br>
</p>
<p>Author</p>
<%= @post.author %>
<br> <br>
<%= image_tag @post.image.url %>
<br> <br>

<%= link_to 'Edit', edit_post_path %>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
